<h2>Products</h2>
<div *ngFor="let product of products; index as productId">
    <h3><a [title]="product.name + ' details'" [routerLink]="['/products', productId]">{{ product.name }}</a></h3>
    <p *ngIf="product.description">
        Description: {{ product.description }} <br>
    </p>
    <div class="row">
        <button (click)='share()' style="float: left;padding: 5px 10px;margin-right: 5px;">
            Share
        </button>
        <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
    </div>
</div>